@{
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AdminNavPages.UsersNavClass(ViewContext)" id="users" asp-page="./Users">Users</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavPages.RolesNavClass(ViewContext)" id="roles" asp-page="./Roles">Roles</a></li>
</ul>
